.side_margin30 {
  margin: 0px 30px;
}
#profile_side {
  max-height: 86px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
#profile_box img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
#profile_box {
  display: flex;
  font-family: 'roboto','arial';
  font-weight: lighter;
  box-shadow: rgb(125, 176, 247) 0px 0px 4px;
  padding: 5px;
  border-radius: 5px;
}
#info_side {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
}
#user_rentals {
  height: 500px;
  overflow-y: auto;
  margin: -20px 20px 0px 0px;
}
#user_homes {
  margin: 70px 25px 0px auto;
}
.user_rentals_item {
  margin: 20px 10px;
  box-shadow: rgb(0,0,0) 0px 0px 10px;
  border-radius: 5px;
  overflow: hidden;
}
#greet {
  margin: 20px 20px 0px 30px;
}

.user_rent_pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#greet h1 {
  font-size: 3rem;
  color: var(--textMedium);
}
#greet p {
  font-family: "roboto","arial";
  font-weight: bold;
  color: var(--textLight);
  margin-top: 50px;
  margin-right: 50px;
}
.user_ren_info h2 {
  font-family: 'roboto','arial';
  font-weight: bold;
  color: var(--textMedium);
}
.user_ren_info p {
  width: 80%;
}
.user_ren_info div {
  margin-top: 10px;
  min-width: 130px;
}
.user_ren_info {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 5%;
}

#profile_box h3 {
  font-weight: lighter;
  font-size: 0.8rem;
}
#profile_box div {
  align-self: center;
}
#user_rentals .user_ren_info div h3 {
  margin: 0px;
  margin-top: 10px;
  color: var(--blueD);
  font-size: 1rem;
}
.arrow_down {
  width: 30px;
  align-self: center;
}
#user_homes h3 {
  color: var(--blueM);
  font-family: 'roboto','arial';
  margin-left: 10px;
  max-height: 30px;
  display: flex;
}
#profile_side button {
  display: flex;
  color: white;
  background: var(--blueM);
  cursor: pointer;
  margin-right: 50px;
}
#profile_side button:hover{
  background: var(--blueD);
}


.user_space_pics {
}
.user_rented_item {
  margin: 5px;
  box-shadow: rgb(0,0,0) 0px 0px 5px;
  overflow: hidden;
  border-radius: 5px;
  max-width: 250px;
}
.user_rented_info h2 {
  font-size: 1rem;
  font-family: 'roboto','arial';
  font-weight: bold;
  color: var(--textMedium);
}
.user_rented_info {
  margin-left: 10px;
  margin-bottom: 20px;
}
.user_rented_info p {
  font-size: 0.9rem;
  width: 90%;
}
.user_rented_info div {
  margin-top: 15px;
}
#user_homes .user_rented_info h3 {
  margin-left: 0;
  font-size: 0.9rem;
  margin-top: 5px;
  color: var(--blueD);
}
.header_rent_list{
  color: var(--blueM);
  font-family: 'roboto','arial';
  margin-left: 10px;
  max-height: 30px;
  display: flex;
  margin-bottom: 15px;
}