fieldset {
  display: flex;
  border: none;
  padding: 20px 20px;
}

legend {
  font-size: 0.75em;
  padding-top: 12px;
  margin: auto;
}

#map {
  width: 45%;
  border: var(--off-white) solid 2px;
}

.filters {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--modeColor);
  margin-left: 20px;
}

.filters li {
  position: relative;
}

.filter_btn {
  margin: 10px;
  padding: 5px 10px;
  font-size: 1.25rem;
  border: 1px solid var(--off-white);
  background: var(--modeColor);
  border-radius: 5px;
}

.filter_btn:hover {
  background-color: var(--brandSupport);
  border: var(--brandSupport);
}

.filter_btn:last-child {
  background-color: var(--brandOrange);
  color: var(--modeColor);
  border-color: var(--brandOrange);
}

.filter_btn:last-child:hover {
  border-color: var(--brandOrangeDark);
  background-color: var(--brandOrangeDark);
}

.filter_ext {
  position: absolute;
  top: 51px;
  left: 0;
  background: var(--modeColor);
  z-index: 20;
  min-width: 200px;
  min-height: 200px;
  visibility: hidden;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
}

.filter_ext form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  font-size: 1.25rem;
  padding-bottom: 54px;
  margin-bottom: 20px;
}

.filter_ext form label {
  margin-left: 10%;
  margin-top: 10%;
}

.filter_ext form div {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--brandSupport);
}

.filter_done {
  margin: 10px 20px;
  float: right;
  font-size: 0.8em;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid var(--brandSupport);
  background-color: var(--modeColor);
}

.filter_done:hover {
  background-color: var(--modeColor);
  color: var(--brandSupport);
}

#apply-filters-btn {
  font-size: 1.25rem;
  padding: 5px 10px;
  background-color: var(--brandOrange);
  color: var(--modeColor);
}

#apply-filters-btn:hover {
  background-color: var(--brandOrangeDark);
}

.f1 {
  font-size: 1.25rem;
  padding: 5px 10px;
  border: 1px solid var(--off-white);
  border-radius: 2px;
}

.f1:hover {
  background-color: var(--brandSupport);
  color: var(--modeColor);
}

.f1[pressed="true"] {
  background-color: var(--brandSupport);
  border-color: var(--brandSupport);
  color: var(--modeColor);
  border-width: 2px;
}

.f1[pressed="true"]:hover {
  color: var(--modeColor);
}

.price_field {
  flex-flow: column nowrap;
  width: 170px;
}

#price_form {
  flex-flow: row nowrap;
}

#mins,
#maxs {
  border: 2px solid var(--off-white);
  border-radius: 5px;
  color: var(--off-white);
  font-size: 1.25rem;
  margin: 0px 20px 16px 0px;
  padding: 5px 10px;
  width: 100%;
}

.price_dd {
  background-color: var(--brandSupportLight);
  border: 2px solid var(--brandSupport);
  border-radius: 5px;
  color: var(--brandSupport);
  font-size: 1.25rem;
  padding: 7px 2px;
}

.space_type {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.searchBtn {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  border: none;
  background: transparent;
}

.searchBtn:hover {
  background-color: transparent;
}

.search-icon {
  margin: 7.5px 10px 0 0;
  width: 20px;
  height: 20px;
  transition: transform 350ms;
}

.search-icon:hover {
  transform: rotate(45deg);
}

#city_input {
  position: relative;
}

#city_input input {
  border: none;
  outline: 2px solid var(--off-white);
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 5px 10px;
  width: 100%;
}

#city_input input:focus {
  outline: 2px solid var(--black);
}

.city_in {
  min-width: 200px;
  margin-left: 10px;
  border: 1px solid var(--off-white);
  border-radius: 5px;
}

#main_dis {
  display: flex;
  flex-flow: row wrap;
}

#homelist {
  display: flex;
  flex-flow: row wrap;
  max-width: 55%;
  overflow-y: auto;
  height: calc(89vh - 57px);
  border-top: 1px solid var(--off-white);
}

.home_item {
  max-width: calc(50% - 15px);
  margin: 10px 7px;
  border-bottom: 4px solid var(--brandOrange);
  padding-bottom: 8px;
  transition-property: transform, background;
  transition-duration: 400ms;
  cursor: pointer;
}

.home_item:hover {
  transform: scale(1.05);
  z-index: 1;
  background-color: var(--brandOrangeLight);
}

.home_item article {
  padding: 0 3%;
  font-size: 1.25rem;
}

.home_item > article > ul {
  display: block;
  list-style: initial;
  margin-left: 15px;
}

.home_item article p {
  font-style: italic;
  font-size: 1.25rem;
  margin-top: 10px;
  opacity: 80%;
}

#homelist #price_r {
  width: 100%;
}

#homelist h2 {
  width: 90%;
  margin: auto;
}

#homelist > h2 {
  font-family: "Lora", serif;
  font-size: 1.75rem;
  width: 100%;
  margin-left: 10px;
}

.radio_circles {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

#toggle_filter_btn_c {
  display: none;
}

#tfb_label {
  height: 35px;
  margin-left: 30px;
  padding: 6px 20px 6px 15px;
  font-size: 1rem;
  border: 1px solid var(--off-white);
  background: var(--modeColor);
  border-radius: 3px;
  display: none;
  color: var(--brandOrange);
}

#tfb_label:hover {
  background-color: var(--brandOrange);
  color: var(--modeColor);
  border-color: var(--brandOrange);
}

#portal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}
#main-portal-div {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 3rem;
  background: var(--modeColor);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
  position: relative;
}

#portal-left-side {
  position: relative;
  padding: 0.5rem;
}

.portal-img {
  visibility: hidden;
  position: absolute;
  height: 78vh;
  object-fit: cover;
  border-radius: 5px;
}

.portal-img.active {
  visibility: visible;
}

#portal-images {
  position: relative;
}

#portal-img-left-arrow,
#portal-img-right-arrow {
  height: 4rem;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 32vh;
}
#portal-img-left-arrow:hover,
#portal-img-right-arrow:hover {
  background: rgba(0, 0, 0, 0.4);
}
#portal-img-left-arrow svg,
#portal-img-right-arrow svg {
  color: var(--modeColor);
}

#portal-img-left-arrow {
  left: 0;
}

#portal-img-right-arrow {
  right: 0;
}

.portel-dot {
  text-align: center;
  margin-top: 80vh;
}
.dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: var(--off-white);
  border-radius: 10px;
  cursor: pointer;
}
.dot.dot-active {
  background: var(--off-white);
}

#portal-right-side {
  margin: 1rem 1.5rem;
}

#portal-logo {
  height: 2rem;
  margin-left: -0.5rem;
}
#portal-logo h1 {
  font-size: 1.5rem;
}
#portal-logo .logo {
  margin: 0;
}

#portal-top-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#portal-main-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: 2rem;
}

#portal-main-info h2 {
  padding: 0;
  margin-bottom: 0.25rem;
}

#portal-main-info li {
  border-left: 2px solid var(--off-white);
  padding: 0 1rem;
}

#portal-details h2 {
  padding-bottom: 0.25rem;
}

#portal-features ul {
  flex-flow: column nowrap;
  list-style: disc;
  margin-left: 1rem;
}
#portal-features {
  margin-bottom: 1rem;
}

#portal-ownerinfo {
  display: flex;
  align-items: center;
}

#portal-ownerpic {
  width: 80px;
  margin-right: 1rem;
  border-radius: 5px;
}

#portal-action {
  margin: 1rem 0;
}

#portal-rent-btn {
  background: var(--brandOrange);
  color: var(--modeColor);
  font-size: 1rem;
}

#portal-rent-btn:hover {
  background: var(--brandOrangeDark);
}

#portal-close-btn {
  width: 25px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#portal-close-btn svg:hover {
  color: var(--brandOrangeDark);
}

@media (max-width: 850px) {
  #map {
    display: none;
  }

  #homelist {
    max-width: 100%;
  }

  .filters {
    flex-flow: row wrap;
    margin: 10px 10px;
  }
}
@media (max-width: 500px) {
  #tfb_label {
    display: block;
  }

  #toggle_filter_btn_c:checked ~ li {
    display: none;
  }

  #down_filter_toggle {
    display: none;
  }

  #toggle_filter_btn_c:checked + label #up_filter_toggle {
    display: none;
  }

  #toggle_filter_btn_c:checked + label #down_filter_toggle {
    display: inline-block;
  }

  .filters li {
    margin: 10px 5px;
    position: initial;
  }

  .arrow_filter {
    display: none;
  }

  .home_item {
    max-width: 90%;
  }

  .filter_ext {
    top: 180px;
    max-width: 90%;
    margin-left: 20px;
  }

  .filter_ext form label {
    font-size: 1rem;
  }

  .radio_circles {
    height: 15px;
  }

  legend {
    font-size: 0.9rem;
  }

  .f1 {
    font-size: 0.9rem;
    padding: 5px 10px;
  }

  #mins,
  #maxs {
    font-size: 0.9rem;
    padding: 5px 5px;
  }

  .price_dd {
    font-size: 0.9rem;
    padding: 5px 5px;
  }
  .space_type {
    height: 15px;
    width: 15px;
  }

  .home_item {
    max-width: 90%;
  }
}
