@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&family=Nunito:wght@400;600&display=swap");

:root {
  --brandOrangeLight: rgb(254, 165, 142);
  --brandOrange: rgb(255, 75, 30);
  --brandOrangeDark: rgb(213, 42, 0);
  --brandSupport: rgb(255, 187, 30);
  --brandSupportLight: rgb(255, 238, 198);
  --black: rgb(61, 61, 61);
  --offWhite: rgba(61, 61, 61, 0.25);
  --modeColor: white;
  --red: rgb(231, 76, 60);
  --green: rgb(3, 170, 0);
  /* 
    Setting '1rem' to be equal to '10px'.
    (This is done to make the units be more predictable & used consistently.
    Hence, this will replace any absolute units with values greater than 
    or equal to '10px' (and '5px') be replaced with their rem counterparts.)
  */
  font-size: 10px;
}

::selection {
  background-color: var(--brandOrange);
  color: var(--modeColor);
}

button::selection,
input::selection,
a::selection {
  background-color: var(--brandSupport);
  color: var(--modeColor);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--brandOrange);
  cursor: pointer;
}

a svg {
  color: var(--black);
}

body {
  color: var(--black);
}

button,
btn {
  border: 2px solid var(--brandOrange);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

button:hover {
  color: var(--modeColor);
  background-color: var(--brandOrange);
}

button a,
button a:hover {
  color: inherit;
}

img {
  width: 100%;
}

button,
input[type="submit"] {
  transition-property: background, background-color;
  transition-duration: 400ms;
}

h2 {
  font-weight: 400;
  padding: 1.5rem 0;
}

svg {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dis_flex {
  display: flex;
}

.logo > svg {
  color: var(--brandOrange);
}

.logo > svg > polygon:nth-of-type(1),
.logo > svg > polygon:nth-of-type(2) {
  color: var(--brandSupport);
}

#main_logo_header h1 {
  color: var(--brandOrange);
  font-size: 3rem;
  margin: auto;
  margin-right: 1rem;
  font-family: "Lora", serif;
  font-weight: 600;
}

#main_body {
  background-color: var(--modeColor);
  position: relative;
  height: 100vh;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid var(--offWhite);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  z-index: 10;
  position: relative;
  background-color: var(--brandSupportLight);
}

.logo {
  width: 5rem;
  margin: 0 1.2rem;
  color: var(--brandOrange);
}

.nav_side {
  width: 35%;
}

.nav_item {
  cursor: pointer;
  align-self: center;
  position: relative;
  padding: 0.5rem 1rem;
  color: var(--brandOrange);
  transition: color 400ms;
}

.nav_item:hover > a {
  color: var(--brandSupport);
  text-decoration: underline;
}

.nav_item:hover a#sign_btn {
  text-decoration: none;
}

.nav_item a {
  color: inherit;
  font-weight: 600;
}

.nav_item ul {
  display: grid;
}

.nav-sub-item {
  padding: 1rem;
  color: var(--brandOrange);
}

.nav-sub-item:hover a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--brandSupport);
}

.selected-nav-item {
  text-decoration: underline;
}

.selected-nav-item:hover,
.selected-nav-item a:hover {
  color: var(--brandOrange);
  cursor: default;
}

#user_nav {
  display: none;
  min-width: 15rem;
  justify-content: flex-start;
  align-items: center;
  background: var(--modeColor);
  border-radius: 3rem;
}

#left-profile-pic {
  height: 5rem;
  border-radius: 50%;
  width: 5rem;
  margin-right: 1rem;
}

.section-heading {
  font-family: "Lora", serif;
  font-size: 3rem;
}

.main_b {
  height: 68vh;
  background-image: url("../media/background.webp");
  background-position: 65% bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-filter {
  background-color: var(--brandSupportLight);
  height: 68vh;
  width: 100vw;
  opacity: 0.35;
}

.search_block {
  margin: auto;
  text-align: center;
  padding: 10rem 0;
  position: relative;
  top: -60vh;
}

#search_toptext {
  color: var(--modeColor);
  font-family: "Lora", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

#sign_btn {
  border: 2px solid var(--brandOrange);
  border-radius: 0.5rem;
  color: var(--brandOrange);
  padding: 1rem;
  transition: background 400ms;
}

#sign_btn:hover {
  color: var(--modeColor);
  background: var(--brandOrange);
  text-decoration: unset;
}

.search_input {
  width: 70%;
  margin: auto;
  position: relative;
}

.main_search {
  border: none;
  border-radius: 0.5rem;
  width: 85%;
  padding: 1.5rem;
}

#main_search_bar {
  margin-right: -0.75rem;
}

.search_button {
  background-color: var(--brandOrange);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  color: var(--modeColor);
  cursor: pointer;
  font-weight: bold;
  padding: 1.5rem;
  transition: background-color 400ms;
}

.search_button:hover {
  background-color: var(--brandOrangeDark);
}

#message-search-result {
  visibility: hidden;
  background: var(--brandSupport);
  width: 30rem;
  position: absolute;
  left: 18rem;
  padding: 5px;
  border-radius: 5px;
  bottom: -5rem;
  font-size: 2.5rem;
}

#main_quote {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin: 5rem auto;
  max-width: 50rem;
  text-align: center;
}

.art_div {
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: row wrap;
}

.art_box {
  background: var(--modeColor);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 7px 0px;
  height: 59vh;
  margin: 1rem;
  max-width: 40rem;
  min-width: 30rem;
  padding: 2.2rem;
  text-align: center;
  transition: transform 300ms ease-in-out;
  width: 35%;
}

.art_box:hover {
  transform: scale(1.05);
}

.art_box h2 {
  font-family: "Lora", serif;
  font-size: 2.5rem;
}

.art_box button {
  margin-top: 3rem;
}

.art_p {
  padding-bottom: 1rem;
}

footer {
  background-color: var(--brandSupportLight);
  overflow: hidden;
  width: 100%;
}

.footer_img {
  position: absolute;
  bottom: 0;
}

.footer_nav {
  justify-content: space-around;
  padding: 4rem;
}

.footer_nav_item {
  cursor: pointer;
  margin: 1rem;
}

.footer_nav_item a {
  color: inherit;
}

.footer_nav_item:hover {
  text-decoration: underline;
}

.selected-footer-item {
  text-decoration: underline;
}

.selected-footer-item:hover,
.selected-footer-item a:hover {
  cursor: default;
}

.socials {
  text-align: center;
  margin-bottom: 4rem;
}

.socials a {
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
  transition: transform 250ms;
  width: 2.5rem;
}

.socials a:hover {
  transform: scale(1.5);
}

.arrow_filter {
  position: absolute;
  top: 4.1rem;
  right: 3.1rem;
  border-style: solid;
  border-color: transparent transparent var(--modeColor);
  border-width: 0 1rem 1rem 1rem;
  z-index: 33;
  visibility: hidden;
}

#toggle {
  display: none;
}

.form_a {
  height: 70vh;
  max-width: 45rem;
  margin: auto;
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
}

.main_form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.form_input {
  border: 1px solid var(--offWhite);
  border-radius: 0.5rem;
  display: block;
  margin: 1.5rem 0;
  padding: 1rem;
}

.form_btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--brandOrange);
  color: var(--modeColor);
  margin-bottom: 1rem;
  cursor: pointer;
}

.form_btn:hover {
  background: var(--brandOrangeDark);
}

.toggle_page:hover,
#t_c a:hover {
  text-decoration: underline;
}

.form_a p {
  margin: 1rem 0;
}

.form_a span {
  margin-left: 26%;
}

#t_c,
#t_c a {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav_dd {
  visibility: hidden;
  position: absolute;
  background: var(--brandSupportLight);
  top: 5rem;
  left: -1rem;
  width: 20rem;
  cursor: default;
  text-align: left;
}

.nav_dd ul {
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 1rem;
}

.btn_a {
  transition: background-color 400ms;
  color: var(--brandOrange);
  background-color: var(--modeColor);
}

.a_btn {
  display: inline-block;
}

.sign-in-header,
.sign-up-header {
  font-family: "Lora", serif;
  font-size: 2.5rem;
}

#loader-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--brandSupport);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 30;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invalid-input {
  border: 2px solid var(--red) !important;
}

.user-entry-error {
  color: var(--red);
  font-size: 1.5rem;
}

.hide {
  display: none;
}

input[type="submit"]:disabled {
  background-color: var(--offWhite);
}

#passwd-constraints {
  line-height: 2rem;
  text-align: left;
  margin-top: 1rem;
}

#passwd-constraints > ul {
  display: block;
  list-style-type: disc;
  margin-left: 2.75rem;
}

#passwd-constraints > ul > li {
  font-size: 1.5rem;
}

@media (min-width: 850px) {
  .nav_toggle {
    display: none;
  }

  .filters {
    flex-flow: row wrap;
  }
}

@media (max-width: 850px) {
  #main_logo_header {
    position: absolute;
  }

  .nav_side {
    display: flex;
    margin-top: 30rem;
    background: var(--modeColor);
    width: 100%;
    left: 0;
    height: 33vh;
    z-index: 20;
    position: relative;
    top: 2.8rem;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .nav_item {
    padding: 1.5rem;
    margin: 1rem 0;
  }

  .nav_toggle {
    margin-right: 1.5rem;
    width: 4rem;
    position: absolute;
    text-decoration: none;
    right: 0;
    cursor: pointer;
    z-index: 5;
  }

  input:checked ~ .nav_side {
    display: none;
  }

  #search_toptext {
    font-size: 2rem;
  }

  .search_input {
    width: 100%;
  }

  .main_search {
    width: 95%;
    height: 4.5rem;
    font-size: 2rem;
    padding-left: 0.5rem;
  }

  .search_button {
    height: 4.4rem;
    font-size: 2rem;
    padding: 0 1rem;
    margin-top: 2.5rem;
  }

  .form_a {
    width: 80%;
  }

  .form_input {
    font-size: 2rem;
    height: 4rem;
    margin: 1rem 0;
  }

  #t_c {
    font-size: 2rem;
  }

  .form_btn {
    height: 4rem;
    font-size: 2rem;
    margin: 2rem;
  }

  #sign_ask {
    margin-left: 18%;
  }
}
@media (max-width: 480px) {
  body {
    position: relative;
  }

  .footer_img {
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .footer-image {
    width: 380%;
    position: relative;
    bottom: 0;
  }
}
