@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&family=Nunito:wght@400;600&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
}

:root {
  --brandOrangeLight: rgb(254, 165, 142);
  --brandOrange: rgb(255, 75, 30);
  --brandOrangeDark: rgb(213, 42, 0);
  --brandSupport: rgb(255, 187, 30);
  --brandSupportLight: rgb(255, 238, 198);
  --black: rgb(61, 61, 61);
  --off-white: rgba(61, 61, 61, 0.25);
  --modeColor: white;
}

a {
  text-decoration: none;
  color: var(--brandOrange);
  user-select: none;
  cursor: pointer;
}

a svg {
  color: var(--black);
}

button,
btn {
  border: 2px solid var(--brandOrange);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  color: var(--modeColor);
  background-color: var(--brandOrange);
}

button a,
button a:hover {
  color: inherit;
}

img {
  width: 100%;
}

button,
input[type="submit"] {
  transition-property: background, background-color;
  transition-duration: 400ms;
}

h1 {
  font-weight: 600;
}

h2 {
  padding: 14px 0;
  font-weight: 400;
}

svg {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dis_flex {
  display: flex;
}

.logo > svg {
  color: var(--brandOrange);
}

.logo > svg > polygon:nth-of-type(1),
.logo > svg > polygon:nth-of-type(2) {
  color: var(--brandSupport);
}

#main_logo_header h1 {
  color: var(--brandOrange);
  font-size: 2rem;
  margin: auto;
  margin-right: 10px;
  font-family: "Lora", serif;
  font-weight: 600;
}

#main_body {
  background-color: var(--modeColor);
  position: relative;
  height: 100vh;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid var(--off-white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  z-index: 10;
  position: relative;
  background-color: var(--brandSupportLight);
}

.logo {
  width: 50px;
  margin: 0 12px;
  color: var(--brandOrange);
}

.nav_side {
  width: 35%;
  font-size: 1em;
}

.nav_item {
  cursor: pointer;
  align-self: center;
  position: relative;
  padding: 5px 10px;
  color: var(--brandOrange);
  transition: color 400ms;
}

.nav_item:hover > a {
  color: var(--brandSupport);
  text-decoration: underline;
}

.nav_item:hover a#sign_btn {
  text-decoration: none;
}

.nav_item a {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 600;
}

.nav_item ul {
  display: grid;
}

.nav-sub-item {
  padding: 10px 10px;
  color: var(--brandOrange);
}

.nav-sub-item:hover a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--brandSupport);
}

.section-heading {
  font-family: "Lora", serif;
}

.main_b {
  height: 68vh;
  background-image: url("../media/background.webp");
  background-position: 65% bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_block {
  margin: auto;
  text-align: center;
  padding: 9em 0;
}

#search_toptext {
  color: var(--modeColor);
  font-family: "Lora", serif;
  font-size: 2.5em;
  padding-bottom: 0.5em;
  text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

#sign_btn {
  border: 2px solid var(--brandOrange);
  border-radius: 5px;
  color: var(--brandOrange);
  padding: 10px 10px;
  transition: background 400ms;
}

#sign_btn:hover {
  color: var(--modeColor);
  background: var(--brandOrange);
  text-decoration: unset;
}

.search_input {
  width: 70%;
  margin: auto;
}

.main_search {
  border: none;
  border-radius: 5px;
  width: 85%;
  padding: 15px;
  font-size: 1.25rem;
}

.search_button {
  background-color: var(--brandOrange);
  border: none;
  border-radius: 5px;
  color: var(--modeColor);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px;
  transition: background-color 400ms;
}

.search_button:hover {
  background-color: var(--brandOrangeDark);
}

#main_quote {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 27px;
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
}

.art_div {
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: row wrap;
}

.art_box {
  background: var(--modeColor);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 7px 0px;
  height: 59vh;
  margin: 10px 11px;
  max-width: 400px;
  min-width: 300px;
  padding: 22px;
  text-align: center;
  transition: transform 300ms ease-in-out;
  width: 35%;
}

.art_box:hover {
  transform: scale(1.05);
}

.art_box h2 {
  font-family: "Lora", serif;
}

.art_box button {
  font-size: 1.25rem;
  margin-top: 30px;
}

.art_p {
  font-size: 1.15em;
  padding-bottom: 10px;
}

footer {
  background-color: var(--brandSupportLight);
  overflow: hidden;
  width: 100%;
}

.footer_img {
  position: absolute;
  bottom: 0;
}

.footer_nav {
  justify-content: space-around;
  padding: 40px;
  font-size: 1.2em;
}

.footer_nav_item {
  cursor: pointer;
  margin: 1em 1em;
}

.footer_nav_item:hover {
  text-decoration: underline;
}

.socials {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.socials a {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  transition: transform 250ms;
  width: 25px;
}

.socials a:hover {
  transform: scale(1.5);
}

.arrow_filter {
  position: absolute;
  top: 41px;
  right: 31px;
  border-style: solid;
  border-color: transparent transparent var(--modeColor);
  border-width: 0 10px 10px 10px;
  z-index: 33;
  visibility: hidden;
}

#toggle {
  display: none;
}

.form_a {
  height: 70vh;
  max-width: 450px;
  margin: auto;
  position: relative;
  z-index: 2;
  margin-top: 15px;
}

.main_form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.form_input {
  border: 1px solid var(--off-white);
  border-radius: 5px;
  display: block;
  font-size: 1.25rem;
  margin: 15px 0;
  padding: 10px;
}

.form_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--brandOrange);
  font-size: 1.25rem;
  color: var(--modeColor);
  margin-bottom: 10px;
  cursor: pointer;
}

.form_btn:hover {
  background: var(--brandOrangeDark);
}

.toggle_page:hover,
#t_c a:hover {
  text-decoration: underline;
}

.form_a p {
  margin: 10px 0;
  font-size: 0.9em;
}

.form_a span {
  margin-left: 26%;
}

.nav_dd {
  visibility: hidden;
  position: absolute;
  background: var(--brandSupportLight);
  top: 50px;
  left: -10px;
  width: 200px;
  min-height: 100px;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
}

.nav_dd ul {
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 110px;

  margin: 10px;
}

.btn_a {
  transition: background-color 400ms;
  color: var(--brandOrange);
  background-color: var(--modeColor);
}

.a_btn {
  display: inline-block;
}

.sign-in-header,
.sign-up-header {
  font-family: "Lora", serif;
  font-size: 1.75rem;
}

#loader-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--brandSupport);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 30;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 850px) {
  .nav_toggle {
    display: none;
  }

  .filters {
    flex-flow: row wrap;
  }
}

@media (max-width: 850px) {
  #main_logo_header {
    position: absolute;
  }

  .nav_side {
    display: flex;
    margin-top: 300px;
    background: var(--modeColor);
    width: 100%;
    left: 0;
    height: 33vh;
    z-index: 20;
    position: relative;
    top: 28px;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .nav_item {
    padding: 15px 15px;
    margin: 10px 0px;
  }

  .nav_toggle {
    margin-right: 15px;
    width: 40px;
    position: absolute;
    text-decoration: none;
    right: 0;
    cursor: pointer;
    z-index: 5;
  }

  input:checked ~ .nav_side {
    display: none;
  }

  #search_toptext {
    font-size: 2em;
  }

  .search_input {
    width: 100%;
  }

  .main_search {
    width: 95%;
    height: 45px;
    font-size: 1em;
    padding-left: 0.5em;
  }

  .search_button {
    height: 44px;
    font-size: 1em;
    padding: 0 1em;
    margin-top: 25px;
  }

  .form_a {
    width: 80%;
  }

  .form_input {
    font-size: 1em;
    height: 40px;
    margin: 10px 0;
  }

  #t_c {
    font-size: 0.8em;
  }

  .form_btn {
    height: 40px;
    font-size: 1em;
    margin: 20px;
  }

  #sign_ask {
    margin-left: 18%;
  }
}
@media (max-width: 480px) {
  body {
    position: relative;
  }

  .footer_img {
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .footer-image {
    width: 380%;
    position: relative;
    bottom: 0;
  }
}
